<div class="container">
    <div class="box-section">
        <div class="header-section">
            <span style="border-bottom: 5px solid #fff;">CONTACT US</span>
        </div>

        <div class="contact-text">
            <p>
                   Your questions and comments are important to us. Just ask and get answers.
            </p>
        </div>

        <div class="row">
            <div class="col-md-3">              
            </div>

             <div class="col-md-6">
                        <div class="contact-icons">
                                    <div class="contact-details">
                                                <div>
                                                        <img src="assets/images/phone.png" alt="phone">
                                                </div>
                                                <p>
                                                       234 706 802 7059<br>
                                                       234 706 802 7293
                                                </p>
                                                                                                                           
                                    </div>    

                                     <div class="contact-details">
                                                <div>
                                                        <img src="assets/images/message.png" alt="phone">
                                                </div>
                                                <p>
                                                       info@bbntrivias.com
                                                </p>
                                                                                                                           
                                    </div>                          
                        </div>
            </div>

             <div class="col-md-3">                
            </div>
        </div>
    </div>

</div>
    