<div class="container">
    <div class="box-section">
        <div class="header-section">
            <span style="border-bottom: 5px solid #fff;">ABOUT BIG BROTHER NAIJA TRIVIA</span>
        </div>
        <div class="tac-section">

            <div>
                <span>ABOUT BIG BROTHER NAIJA TRIVIA</span>
                <ul>
                    <li>
                        BBN TRIVIA is the 1ST of its kind on THE BIG BROTHER NAIJA Show. It is a predict and win type of
                        trivia which is centered around BIG BROTHER NAIJA and the activities with regards to the show.
                        Questions will be announced during the show for viewers to answer & stand a chance to win the
                        grand prizes or any of the consolations prizes for a Trivia fee of N50
                    </li>
                    <li>
                        Once a viewer’s prediction is correct an SMS is sent to notify the viewer that they stand a
                        chance to win any of the prizes during the raffle draw live show. A raffle is drawn with only
                        the numbers of successful predictions with the correct answer. The raffle is preloaded and
                        automated with all the numbers submitted by our financial partners with VALID ANSWER ONLY.
                    </li>
                    <li>
                        The winners’ numbers will be displayed during the live show and also a notification will be sent
                        to the winners. For validation purpose, before the prizes are given, the winner will provide
                        other forms of identification. This raffle will be drawn WEEKLY few minutes after the live show on SUNDAYS.
                        Viewers are allowed to submit MULTIPLE ENTRIES to stand a chance to win any of the prizes
                        weekly.
                    </li>
                </ul>
            </div>
            <div>
                <p>
                    These Terms and Conditions are effective from January, 2018.
                </p>

                <p>
                    By accessing or Participating in the BBN TRIVIAS Predict and Win game, on BBN TRIVIAS website or any
                    applications (including mobile applications) made available by BBN TRIVIAS (together, the "Service"),
                    however accessed, you agree to be bound by these terms and conditions ("T&C’s"). The Service is
                    owned or controlled by ROM-FLEX. These Terms and Conditions affect
                    your legal rights and obligations. If you do not agree to be bound by all of these Terms of Use, do
                    not access or use the Service.
                </p>

                <p>
                    ARBITRATION NOTICE: EXCEPT IF YOU OPT-OUT, YOU AGREE THAT DISPUTES BETWEEN YOU AND ROM-FLEX WILL BE
                    RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND YOU WAIVE YOUR RIGHT TO PARTICIPATE IN A CLASS
                    ACTION LAWSUIT OR CLASS-WIDE ARBITRATION.
                </p>

            </div>

            <div>
                <span>BASIC TERMS</span>
                <ul>
                    <li>
                        You accept that you will adhere to the guidelines as provided by ROM-FLEX to participate in the
                        Weekly Predict and Win Trivia for Big Brother Naija 2018.
                    </li>
                    <li>
                        You are responsible for the outcomes occasioned as a result of your participation.
                    </li>
                    <li>
                        You are responsible for any activity that occurs through your account and you agree you will not
                        sell, transfer, license or assign your account details, username, or any account rights. You
                        also represent that all information you provide or provided to your bank upon registration are
                        true, accurate, current and complete and you agree to update your information as necessary to
                        maintain its truth and accuracy.
                    </li>
                    <li>
                        You may not use the Service for any illegal or unauthorized purpose. You agree to comply with
                        all laws, rules and regulations ( federal, state, local and residual) applicable to your use of
                        this Service.
                    </li>
                    <li>
                        You must not encourage or facilitate violations of these Terms of Use or any other ROM-FLEX
                        Trivia terms.
                    </li>
                    <li>
                        Violation of these Terms of Use may, in ROM-FLEX's sole discretion, result in disqualification
                        from further participation. If you violate the letter or spirit of these Terms and Conditions,
                        or otherwise create risk or possible legal exposure for ROM-FLEX, we can stop you from accessing
                        all or part of the Service.
                    </li>
                </ul>
            </div>

            <div>
                <span>GENERAL CONDITIONS</span>
                <ul>
                    <li>
                        We reserve the right to modify or terminate the terms of the trivia or your access to
                        participate in the trivia for any reason, without notice, at any time, and without liability to
                        you.
                    </li>
                    <li>
                        We will not be responsible for refunds to any participant.
                    </li>
                    <li>
                        Failure to input the codes or figures correctly will not make ROM-FLEX liable for any loss
                        suffered.
                    </li>
                    <li>
                        Upon termination, all access and other rights granted to you in these Terms of Conditions will
                        immediately cease.
                    </li>
                    <li>
                        We reserve the right, in our sole discretion, to change these Terms of Conditions ("Updated
                        Terms") from time to time. Unless we make a change for legal or administrative reasons, we will
                        provide reasonable advance notice before the Updated Terms become effective. You agree that we
                        may notify you of the Updated Terms by posting them on the Service, and that your use of the
                        Service after the effective date of the Updated Terms (or engaging in such other conduct as we
                        may reasonably specify) constitutes your agreement to the Updated Terms. Therefore, you should
                        review these Terms and conditions and any Updated Terms before participating in the trivia. The
                        Updated Terms will be effective as of the time of posting, or such later date as may be
                        specified in the Updated Terms, and will apply to your use of the Service from that point
                        forward. These Terms and conditions will govern any disputes arising before the effective date
                        of the Updated Terms.
                    </li>
                    <li>
                        We reserve the right to provide you with information to help you participate in the Weekly
                        Predict and Win Trivia.
                    </li>
                    <li>
                        We reserve the right to refuse access to participate to anyone for any reason at any time.
                    </li>
                    <li>
                        We reserve the right to force forfeiture of any prize upon reasonable suspicion of fraud.
                    </li>
                    <li>
                        We may, but have no obligation to, remove, edit, block, and/or monitor Content or accounts
                        containing Content that we determine in our sole discretion violates these Terms and conditions.
                    </li>
                    <li>
                        You agree that you are responsible for all data charges you incur through participating in these
                        trivia.
                    </li>
                </ul>
            </div>

            <div>
                <span>RIGHTS</span>
                <ul>
                    <li>
                        You agree that ROM-FLEX is not responsible for any overcharge or repeated deductions that may
                        occur by reason of your participation. If you are charged more and require a refund you may
                        direct your complain to your financial provider.
                    </li>
                    <li>
                        You agree that you will adhere to all guidelines as it relates to codes and time frames provided
                        for participation in the Weekly Predict and Win Trivia.
                    </li>
                    <li>
                        Except as otherwise described herein the participation and engagement in ROM-FLEX's Trivia based
                        on directions provided by ROM-FLEX will be non-confidential and non-proprietary and we will not
                        be liable for any use or disclosure that does not match our guidelines on participation. You
                        acknowledge and agree that your relationship with ROM-FLEX is not a confidential, fiduciary, or
                        other type of special relationship, and that your decision to submit any Content does not place
                        ROM-FLEX in a position that is any different from the position held by members of the general
                        public. None of your details will be subject to any obligation of confidence on the part of
                        ROM-FLEX, and ROM-FLEX will not be liable for any use or disclosure of any information shared
                        between you and your financial provider.
                    </li>
                    <li>
                        It is Instagram's policy not to accept or consider content, information, ideas, suggestions or
                        other materials other than those we have specifically requested and to which certain specific
                        terms, conditions and requirements may apply. This is to avoid any misunderstandings if your
                        ideas are similar to those we have developed or are developing independently. Accordingly,
                        Instagram does not accept unsolicited materials or ideas, and takes no responsibility for any
                        materials or ideas so transmitted. If, despite our policy, you choose to send us content,
                        information, ideas, suggestions, or other materials, you further agree that Instagram is free to
                        use any such content, information, ideas, suggestions or other materials, for any purposes
                        whatsoever, including, without limitation, developing and marketing products and services,
                        without any liability or payment of any kind to you.
                    </li>
                </ul>
            </div>

            <div>
                <span>DISCLAIMER OF WARRANTIES</span>

                <p>
                    ROM-FLEX DO NOT REPRESENT OR WARRANT THAT THE WEEKLY PREDICT AND WIN TRIVIA WILL BE ERROR-FREE OR
                    UNINTERRUPTED; THAT DEFECTS WILL BE CORRECTED; OR THAT THE SERVICE OR THE SERVER THAT MAKES THE
                    SERVICE AVAILABLE IS FREE FROM ANY HARMFUL COMPONENTS, INCLUDING, WITHOUT LIMITATION, VIRUSES.
                    ROM-FLEX DO MAKE REPRESENTATIONS OR WARRANTIES THAT THE INFORMATION (INCLUDING ANY INSTRUCTIONS) ON
                    THE SERVICE IS ACCURATE, COMPLETE, OR USEFUL. YOU ACKNOWLEDGE THAT YOUR USE OF THE SERVICE IS AT
                    YOUR SOLE RISK. THE ROM-FLEX DO NOT WARRANT THAT YOUR USE OF THE SERVICE IS LAWFUL IN ANY PARTICULAR
                    JURISDICTION, AND ROM-FLEX SPECIFICALLY DISCLAIM SUCH WARRANTIES. SOME JURISDICTIONS LIMIT OR DO NOT
                    ALLOW THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES SO THE ABOVE DISCLAIMER MAY NOT APPLY TO YOU TO
                    THE EXTENT SUCH JURISDICTION'S LAW IS APPLICABLE TO YOU AND THESE TERMS OF USE.
                </p>
            </div>

            <div>
                <p>
                    BY ACCESSING OR USING THE SERVICE YOU REPRESENT AND WARRANT THAT YOUR ACTIVITIES ARE LAWFUL IN EVERY
                    JURISDICTION WHERE YOU ACCESS OR USE THE SERVICE.
                </p>

                <p>
                    ROM-FLEX SPECIFICALLY DISCLAIM ANY RESPONSIBILITY OR LIABILITY TO ANY PERSON OR ENTITY FOR ANY LOSS,
                    DAMAGE (WHETHER ACTUAL, CONSEQUENTIAL, PUNITIVE OR OTHERWISE), INJURY, CLAIM, LIABILITY OR OTHER
                    CAUSE OF ANY KIND OR CHARACTER BASED UPON OR RESULTING FROM ANY PARTICIPATING IN THE TRIVIA
                </p>
            </div>

            <div>
                <span>LIMITATION OF LIABILITY; WAIVER</span>

                <p>
                    UNDER NO CIRCUMSTANCES WILL ROM-FLEX BE LIABLE TO YOU FOR ANY LOSS OR DAMAGES OF ANY KIND
                    (INCLUDING, WITHOUT LIMITATION, FOR ANY DIRECT, INDIRECT, ECONOMIC, EXEMPLARY, SPECIAL, PUNITIVE,
                    INCIDENTAL OR CONSEQUENTIAL LOSSES OR DAMAGES) THAT ARE DIRECTLY OR INDIRECTLY RELATED TO: (A) THE
                    SERVICE; (B) CODE MALFUNCTION (C) USER INFORMATION (D) YOUR USE OF, INABILITY TO USE, OR THE
                    PERFORMANCE OF THE SERVICE; (E) ANY ACTION TAKEN IN CONNECTION WITH AN INVESTIGATION BY YOUR
                    FINANCIAL PROVIDER OR LAW ENFORCEMENT AUTHORITIES REGARDING YOU OR ANY OTHER PARTY'S USE OF THE
                    SERVICE; (F) ANY ACTION TAKEN IN CONNECTION WITH COPYRIGHT OR OTHER INTELLECTUAL PROPERTY OWNERS;
                    (G) ANY ERRORS OR OMISSIONS IN THE SERVICE'S OPERATION; OR (H) ANY DAMAGE TO ANY USER'S COMPUTER,
                    MOBILE DEVICE, OR OTHER EQUIPMENT OR TECHNOLOGY INCLUDING, WITHOUT LIMITATION, DAMAGE FROM ANY
                    SECURITY BREACH OR FROM ANY VIRUS, BUGS, TAMPERING, FRAUD, ERROR, OMISSION, INTERRUPTION, DEFECT,
                    DELAY IN OPERATION OR TRANSMISSION, COMPUTER LINE OR NETWORK FAILURE OR ANY OTHER TECHNICAL OR OTHER
                    MALFUNCTION, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, LOSS OF
                    DATA, WORK STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, EVEN IF FORESEEABLE OR
                    EVEN IF ROM-FLEX PARTIES HAVE BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH
                    DAMAGES, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, STRICT LIABILITY OR TORT (INCLUDING, WITHOUT
                    LIMITATION, WHETHER CAUSED IN WHOLE OR IN PART BY NEGLIGENCE, ACTS OF GOD, TELECOMMUNICATIONS
                    FAILURE, OR THEFT OR DESTRUCTION OF THE SERVICE). IN NO EVENT WILL ROM-FLEX BE LIABLE TO YOU OR
                    ANYONE ELSE FOR LOSS, DAMAGE OR INJURY, INCLUDING, WITHOUT LIMITATION, DEATH OR PERSONAL INJURY.
                </p>
            </div>

            <div>
                <p>
                    YOU AGREE THAT IN THE EVENT YOU INCUR ANY DAMAGES, LOSSES OR INJURIES THAT ARISE OUT OF INSTAGRAM'S
                    ACTS OR OMISSIONS, THE DAMAGES, IF ANY, CAUSED TO YOU ARE NOT IRREPARABLE OR SUFFICIENT TO ENTITLE
                    YOU TO AN INJUNCTION PREVENTING ANY EXPLOITATION OF ANY WEB SITE, SERVICE, PROPERTY, PRODUCT OR
                    OTHER CONTENT OWNED OR CONTROLLED BY THE INSTAGRAM PARTIES, AND YOU WILL HAVE NO RIGHTS TO ENJOIN OR
                    RESTRAIN THE DEVELOPMENT, PRODUCTION, DISTRIBUTION, ADVERTISING, EXHIBITION OR EXPLOITATION OF ANY
                    WEB SITE, PROPERTY, PRODUCT, SERVICE, OR OTHER CONTENT OWNED OR CONTROLLED BY THE INSTAGRAM PARTIES.
                </p>

                <p>
                    BY ACCESSING THE SERVICE, YOU UNDERSTAND THAT YOU MAY BE WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT
                    ARE AT THIS TIME UNKNOWN OR UNSUSPECTED, AND IN ACCORDANCE WITH SUCH WAIVER, YOU ACKNOWLEDGE THAT
                    YOU HAVE READ AND UNDERSTAND, AND HEREBY EXPRESSLY WAIVE ALL BENEFICIAL RIGHTS ENFORECABLE.."
                </p>

                <p>
                    ROM-FLEX IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU
                    RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND
                    UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD
                    PARTIES.
                </p>
            </div>

            <div>
                <span>INDEMNIFICATION</span>

                <p>
                    You (and also any third party for whom you operate an account or activity on the Service) agree to
                    defend (at ROM-FLEX's request), indemnify and hold the ROM-FLEX harmless from and against any
                    claims, liabilities, damages, losses, and expenses, including without limitation, reasonable
                    attorney's fees and costs, arising out of or in any way connected with any of the following
                    (including as a result of your direct activities on the Service or those conducted on your behalf):
                    (i) your Content or your access to or use of the Service; (ii) your breach or alleged breach of
                    these Terms and conditions; (iii) your violation of any third-party right, including without
                    limitation, any intellectual property right, publicity, confidentiality, property or privacy right;
                    (iv) your violation of any laws, rules, regulations, codes, statutes, ordinances or orders of any
                    governmental and quasi-governmental authorities, including, without limitation, all regulatory,
                    administrative and legislative authorities; or (v) any misrepresentation made by you. You will
                    cooperate as fully required by ROM-FLEX in the defense of any claim. ROM-FLEX reserves the right to
                    assume the exclusive defense and control of any matter subject to indemnification by you, and you
                    will not in any event settle any claim without the prior written consent of ROM-FLEX.
                </p>
            </div>

            <div>
                <span>ARBITRATION</span>

                <p>
                    Any dispute arising hereto which are not resolved amicably shall be referred to arbitration in
                    accordance with the Arbitration and Conciliation Act Laws of the Federation of Nigeria 2004
                </p>
            </div>

            <div>
                <span>GOVERNING LAW</span>

                <p>
                    These Terms and conditions shall be governed by and construed in accordance with the laws and
                    regulations in force from time to time in the Federal Republic of Nigeria and its Courts and shall
                    have exclusive jurisdiction in all legal actions and proceedings, if any, hereto.
                </p>
            </div>

            <div>
                <span> ENTIRE AGREEMENT</span>

                <p>
                    These Terms and conditions constitute the entire agreement between you and ROM-FLEX and governs your
                    use of the Service, superseding any prior agreements between you and ROM-FLEX. You will not assign
                    the Terms and conditions or assign any rights or delegate any obligations hereunder, in whole or in
                    part, whether voluntarily or by operation of law, without the prior written consent of ROM-FLEX. Any
                    purported assignment or delegation by you without the appropriate prior written consent of ROM-FLEX
                    will be null and void. ROM-FLEX may assign these Terms of Use or any rights hereunder without your
                    consent. If any provision of these Terms of Use is found by a court of competent jurisdiction to be
                    invalid or otherwise unenforceable, the parties nevertheless agree that such portion will be deemed
                    severable from these Terms of Use and will not affect the validity and enforceability of the
                    remaining provisions, and the remaining provisions of the Terms of Use remain in full force and
                    effect. Neither the course of conduct between the parties nor trade practice will act to modify the
                    Terms of Use. These Terms of Use do not confer any third-party beneficiary rights.

                </p>
            </div>


            <div>
                <span> TERRITORIAL RESTRICTIONS</span>

                <p>
                    The information provided within the Service is not intended for distribution to or use by any person
                    or entity in any jurisdiction or country where such distribution or use would be contrary to law or
                    regulation or which would subject ROM-FLEX to any registration requirement within such jurisdiction
                    or country. We reserve the right to limit the availability of the Service or any portion of the
                    Service, to any person, geographic area, or jurisdiction, at any time and in our sole discretion,
                    and to limit the quantities of any content, program, product, service or other feature that ROM-FLEX
                    provides.
                </p>

                <p>
                    Software related to or made available by the Service may be subject to The effective date of these
                    Terms and conditions is January 2018. These Terms and conditions were written in English. To the
                    extent any translated version of these Terms and conditions conflicts with the English version, the
                    English version prevails.
                </p>
            </div>

        </div>

    </div>