<div>
    <app-header></app-header>
</div>
<router-outlet></router-outlet>
<div>
    <app-footer></app-footer>
</div>
<div>
    <app-footer2></app-footer2>
</div>
<div class="cover-div" id="cover-div"></div>
<div class="product-div" id="product-div">

    <div class="modal-close">
        <span onclick="closeModal()">
                <i class="fa fa-times fa-2x"></i>
        </span>
    </div>
    <div class="product-content">
        <div style="overflow: hidden;">
            <div class="col-md-12" style="padding: 0; ">
                <div class="modaltop" style="padding: 0; ">
                    <div class="row" style="padding-top: 5px;width:95%;text-align: center;margin:0 auto;">
                        <div class="col-sm" style="padding-left: 0px;">
                            <div class="title-head">WELCOME</div>
                        </div>                      
                    </div>
                </div>

                <div class="modalbody" style="padding: 0;">
                    <div class="contains">
                        <div style="font-size:13px; padding-top:10px;max-width: 400px;margin: 0 auto;">
                            Hey guys!<br>
                            Welcome to the BBN trivia page, Predict and stand a chance of winning up to N1,000,000 and other amazing prices.<br>Today might just be your lucky day!!!

                        </div>
                        <div class="contain-bottom" style="padding-top:20px">
                            <button type="button" class="btn btn-secondary buttoner rounded-0" onclick="closeModal()">CLOSE</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>