

<div *ngIf="data" class="">
<div class="col-12">
  <h3>Payment Information : {{data.status}}</h3>



  <div class="success-table">
    <table>
    <tbody>
       <tr>
          <td>Email</td>
          <td>{{data.customer.email}}</td>
        </tr>
         <tr>
          <td>Transaction Ref</td>
          <td>{{data.reference}}</td>
        </tr>
         <tr>
          <td>Amount</td>
          <td>{{data.amount/100}}</td>
        </tr>
        <tr>
          <td>Currency</td>
          <td>{{data.currency}}</td>
        </tr>
       <tr>
         <td>Poll</td>
         <td>{{polls.polls[0].code}} - {{polls.polls[0].title}}</td>
       </tr>
       <tr>
         <td>Answer</td>
         <td>{{answer}}</td>
       </tr>
        <tr>
          <td>Transaction Date</td>
          <td>{{data.transaction_date | date :'medium'}}</td>
        </tr>
        <tr>
          <td>Transaction Status</td>
          <td>{{data.gateway_response}}</td>
        </tr>
    </tbody>
  </table>
  </div>

</div>

</div>
<div class="row">
  <div class="col">
    <br/>
    <button class="btn-primary btn" routerLink="['/']">Back to Home</button>
  </div>

</div>


