<div class="footy">
  <div class="bbn-line"></div>
  <div class="container">

    <div class="footer-details" style="font-size: 12px;">
    <p>
        The BBN Trivia is the 1st of its kind on the Big Brother Naija Show. 
        This trivia is a predict and win type of trivia which will be centered around Big Brother Naija and the activities with regards to the show. 
        <br>
        Follow us on our social media pages for more info:         
    </p>
    </div>
    <div style="text-align: center;">
            <a href="https://www.facebook.com/BBNTrivia/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
            &nbsp;&nbsp;
            <a href="https://twitter.com/bbntrivias" target="_blank"><i  class="fa fa-twitter-square fa-2x"></i></a>
            &nbsp;&nbsp;
            <a href="https://www.instagram.com/bbntrivias/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>   
    </div>
</div>
</div>