<div class="footer2">
	<div class="footer-img">
		<div>
			<a href="https://www.dstv.com/" target="_blank">
				<img src="assets/images/dstv.png">
			</a>
		</div>
		<div>
			<a href="http://eazy.gotvafrica.com/en/ng" target="_blank">
				<img src="assets/images/gotv.png">
			</a>
		</div>
		<div>
			<a href="https://www.payporte.com/" target="_blank">
				<img src="assets/images/payporte.png">
			</a>			
		</div>		
	</div>
	<div class="footer-approve">
		<span>
			Registered and Approved by:
		</span>
		<div class="approve-logo">
			<div>
				<img src="assets/images/ncc.png">
			</div>

			<div>
				<img src="assets/images/cpc.png">
			</div>
		</div>
	</div>
<div >
  &copy;2018 BIG BROTHER NAIJA
</div>
</div>
