<div class="container">
    <div class="box-section">
        <div class="header-section">
            <span style="border-bottom: 5px solid #fff;">HOW TO WIN</span>
        </div>

        <div class="row">
                <div class="col-md-12">
                    <div class="win-intro">
                            You can participate through USSD, eg. For GTB users dial:
                            *737*33*2509*TRIVIACODE+ANSWERCODE# For FIRST BANK Users dial: *894*84902509*50# Other Banks
                            Dial: *402*84902509*50# PLEASE NOTE BOTH TRIVIA AND ANSWER CODE ARE TWO DIGITS
                            <br><br>
                            You can participate through Web channel bbntrivias.com A default trivia is displayed
                            depending on the current trivia running Select “Other trivia” if the default trivia is not
                            what you want to predict , select the trivia you want to participate. After selecting the
                            trivia you wish to participate in, click on the select button i.e the Answer code this is
                            the housemate’s code which will be displayed Next, input phone number, An OTP will be sent
                            to the inputted phone number which will expire after 5 mins. On successful verification, a
                            payment modal is displayed, where card details are to be inputted. Upon successful payment,
                            the prediction will be submitted/successful.
                            <br><br>
                            You can participate through Local Agents,<br>
                            - Viewers walk into any of our authorized prediction center<br>
                            - Pays agent trivia fee, agent logs in on bbntrivias.com<br>
                            - Selects trivia a question<br>
                            - Selects preferred contestant’s id<br>
                            - Agent inputs viewer’s phone no and a confirmation SMS “OTP” is sent to the viewer’s phone
                            number<br>
                            - Viewer inputs OTP<br>
                            - A payment modal pop ups agent inputs card details & submits<br>
                            - Card and payment verification is done<br>
                            - Prediction submitted
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="win-div">
                        <div class="win-logo">
                            <img src="assets/images/access.png">
                        </div>
                        <div class="win-detail">
                            <p>
                                ACCESS BANK
                            </p>
                            *347*2509#
                        </div>
                    </div>
                </div>


            <div class="col-md-4">
                <div class="win-div">
                    <div class="win-logo">
                        <img src="assets/images/gtbank.png">
                    </div>
                    <div class="win-detail">
                        <p>
                            GTBANK
                        </p>
                        *737*33*2509*0101#
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="win-div">
                    <div class="win-logo">
                        <img src="assets/images/first.png">
                    </div>
                    <div class="win-detail">
                        <p>
                            FIRSTBANK
                        </p>
                        *894*89402509*50#                        
                    </div>
                </div>
            </div>

             <div class="col-md-4">
                <div class="win-div">
                    <div class="win-logo">
                        <img src="assets/images/fidelity.png">
                    </div>
                    <div class="win-detail">
                        <p>
                            FIDELITY BANK
                        </p>
                        *770*2509*01*01#                       
                    </div>
                </div>
            </div>

             <div class="col-md-4">
                <div class="win-div">
                    <div class="win-logo">
                        <img src="assets/images/unity.png">
                    </div>
                    <div class="win-detail">
                        <p>
                            UNITY BANK
                        </p>
                        *7799*2509*01*01#                       
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="win-div">
                    <div class="win-logo">
                        <img src="assets/images/mcash.png">
                    </div>
                    <div class="win-detail">
                        <p>
                            OTHERS BANKS
                        </p>
                        *402*89402509*50#
                    </div>
                </div>
            </div>

    </div>

</div>
    