<div class="container">
    <div class="box-section">
        <div class="header-section">
            <span style="border-bottom: 5px solid #fff;">FREQUENTLY ASKED QUESTIONs</span>
        </div>
        <div class="faq-section">

            <div class="row">
                <div class="col-md-6">
                    <div class="faq-question">
                                                            <span>
                                                                    How do I know my prediction is correct? 
                                                            </span>

                        <div class="bbn-lines"></div>
                        <p>
                            Once a viewer's prediction is correct an SMS would be sent to notify the viewer that they
                            stand a chance to win any of the prizes during the Raffle Draw Live Show
                        </p>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="faq-question">
                                                            <span>
                                                                    How do I qualify for the raffle draw
                                                            </span>

                        <div class="bbn-lines"></div>
                        <p>
                            A raffle is drawn with ONLY the numbers of SUCCESSFUL predictions with the CORRECT Answers
                        </p>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="faq-question">
                                                            <span>
                                                                    Can I predict more than once?
                                                            </span>

                        <div class="bbn-lines"></div>
                        <p>
                            Multiple predictions are allowed, Terms and Conditions Apply!
                        </p>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="faq-question">
                                                            <span>
                                                                    Can I win multiple times: 
                                                            </span>

                        <div class="bbn-lines"></div>
                        <p>
                            You can’t win multiple times in one game, Viewers are allowed to win One price Per Trivia
                        </p>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="faq-question">
                                                            <span>
                                                                    How are the winners announced?
                                                            </span>

                        <div class="bbn-lines"></div>
                        <p>
                            The winners numbers would be displayed during the live show and also a notification will be
                            sent to the winners
                        </p>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="faq-question">
                                                            <span>
                                                                    Does it cost money to play?
                                                            </span>

                        <div class="bbn-lines"></div>
                        <p>
                            Yes, the trivia costs N50 per prediction
                        </p>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="faq-question">
                                                            <span>
                                                                    What are the prizes if i win? 
                                                            </span>

                        <div class="bbn-lines"></div>
                        <p>
                            There are multiple prizes to be won e.g, Cash price, Phones, Generators , Microwaves, Tv’s,
                            Refrigerators e.t.c
                        </p>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="faq-question">
                                                        <span>
                                                                How will i redeem my prize if I am a winner? 
                                                        </span>

                        <div class="bbn-lines"></div>
                        <p>
                            The winner will receive confirmation message and a follow up call
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
